* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

h3 {
    padding-top: 92px;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d4f9f;
    text-align: center;
}
h1 {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #3d4f9f;
}
h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #3d4f9f;
}
.fw500 {
    font-weight: 500;
}
.text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8d96bd;
}
.top {
    display: flex;
    flex-flow: column;
    justify-content: start;
}
.header {
    height: 80px;
    background-color: #fff;
    padding: 32px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo {
    margin-right: 73px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: #5e81fe;
}
.header-menu-box {
    width: 427px;
    margin-right: 361px;
}
.header-menu-link {
    margin-right: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    text-shadow: 0px 0px 5px #e6e6e6;
    color: #697ca6;
}
.header-menu-link-select {
    color: #5e81fe;
}
.header-menu-link:last-child {
    margin-right: 0;
}
.header-social-media-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-social-logo {
    margin-right: 35px;
}
.header-social-logo:last-child {
    margin-right: 0px;
}
.header-social-logo:hover {
    cursor: pointer;
}

.header-facebook {
    background-image: url(img/header-facebook.svg);
    width: 8.71px;
    height: 17px;
    background-repeat: no-repeat;
}
.header-telegram {
    background-image: url(img/header-telegram.svg);
    width: 14.7px;
    height: 11.79px;
}
.header-twitter {
    background-image: url(img/header-twitter.svg);
    width: 16.51px;
    height: 13.78px;
}
.header-medium {
    background-image: url(img/header-medium.svg);
    width: 16.51px;
    height: 12.86px;
}
.header-get-started-button {
    margin-left: 44px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3a79ff;
    padding: 13px 15px 13px 16px;
    background-color: #d2e1ff;
    border-radius: 2px;
}
.top-info {
    background-image: url(img/top-info-bg.svg);
    background-repeat: no-repeat;
    height: 570px;
    background-size: cover;
    background-position: center bottom;
}
.top-info-text {
    width: 502px;
    margin: 0 auto;
    padding-top: 28px;
}
.top-info-button {
    cursor: pointer;
    width: 52px;
    height: 52px;
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.top-info-button-play {
    font-size: 10px;
    color: #5e81ff;
}
.customers {
    background-color: #fff;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customers-logo {
    margin-right: 76.5px;
}
.customers-logo:last-child {
    margin-right: 0;
}
.plan {
    height: 776px;
    background-color: #f5f8ff;
    display: flex;
    justify-content: center;
}
.plan-info {
    width: 413px;
    height: 352px;
    padding-top: 208px;
}
.plan-desktop {
    text-align: left;
    padding-top: 0;
}
.plan-plan {
    text-align-last: left;
    margin: 27px 0;
}
.plan-text {
    text-align: left;
    margin-bottom: 47px;
}
.plan-button-box {
    display: flex;
}
.plan-button-view {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 13px 25px;
    background: #4c85ff;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    border-radius: 2px;
}
.plan-button-view-play {
    margin-left: 6px;
    font-size: 7px;
    position: relative;
    bottom: 1px;
}
.plan-button-see {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #adb4d2;
    padding: 13px 21px;
    border: 1px solid #d1d1e4;
    box-sizing: border-box;
    border-radius: 2px;
}
.plan-img {
    display: block;
    width: 653px;
    padding-top: 173px;
}
.features {
    height: 885px;
    background-image: url(img/clouds.svg);
    background-repeat: no-repeat;
}
.features-about {
    padding-top: 171px;
}
.features-read {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3d4f9f;
}
.features-tools-box {
    width: 761px;
    height: 254px;
    margin: 0 auto;
    padding-top: 92px;
    display: flex;
    align-items: center;
}
.tools-container {
    width: 140px;
    height: 254px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.tools-logo {
    width: 69px;
    height: 69px;
}
.tools-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #4074f8;
    padding-top: 33px;
}
.tools-text {
    text-align: center;
    padding-top: 25px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    color: #adb3cb;
}
.tools-line {
    width: 28px;
    height: 0px;
    border-top: 2px solid #dae4fe;
    margin: 0 20px;
}
.features-buttons-box {
    width: 337px;
    height: 43px;
    display: flex;
    margin: 0 auto;
    margin-top: 92px;
    justify-content: center;
}
.features-button-read {
    background: #ffd7d7;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d43f3f;
    padding: 13px 16px;
}
.features-button-get {
    background: #d2e1ff;
    border-radius: 2px;
    padding: 13px 16px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3a79ff;
}
.features-symbol {
    display: flex;
    align-items: center;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #adb3cb;
}
.features-symbol-line {
    width: 15px;
    height: 0px;
    border-top: 2px solid #dae4fe;
    margin: 0 16px;
}
.stats {
    display: flex;
}
.stats-blue {
    flex-grow: 1;
    height: 342px;
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    display: flex;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
    padding-right: 90px;
    flex-flow: column;
    color: #fff;
    text-align: right;
}
.stats-sky {
    flex-grow: 1;
    background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 90px;
    flex-flow: column;
    color: #5e80ff;
    text-align: left;
}
.stats-big-text {
    font-family: Quicksand;
    font-size: 48px;
    line-height: 83px;
    text-align: right;
    letter-spacing: 0.03em;
}
.stats-big-text-blue {
    color: #fff;
}
.stats-text {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    width: 260px;
}
.blog {
    height: 865px;
    background: #f5f8ff;
}
.blog-start {
    margin-bottom: 92px;
}
.blog-item {
    width: 958px;
    height: 394px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #d8e3fe;
    box-sizing: border-box;
    box-shadow: 0px 15px 50px #eff4ff;
}
.blog-item-pic-box {
    width: 407px;
    height: 267px;
    display: flex;
    flex-flow: wrap column;
    margin-left: 35px;
    margin-top: 63px;
}
.blog-pic1 {
    display: block;
    height: 267px;
}
.blog-pic2 {
    display: block;
    height: 126.58px;
}
